/**
 *  (./) mobile.css
 *  (by) Stéphane Cousot <http://www.ubaa.net/>
 *  (cc) some right reserved
 *
 *  -------------------------------------------------------------
 *
 *  Streambox web interface design for small mobile device
 *  version 0.1
 *
 *  -------------------------------------------------------------
 *
 *  This file is part of the Locus Sonus streambox project.
 *  for more informations, see <http://locusonus.org/streambox/>
 *
 *  This file is released under a Creative Commons Licence BY
 *  http://creativecommons.org/licenses/by/4.0/
 */


@media only screen and (max-device-width: 780px)
{
	body
	{
		padding: 0;
		font-size: 14px;
        background: url(http://locusonus.org/soundmap/admin/php/pattern.php?f=dfdfdf) repeat;
	}
  
    h1
    {
        font-size: 200%;
    }

    .alert
    {
    	float: none;
    	margin: 0;
    	border-top-right-radius: 0;
    	border-top-left-radius: 0;
	}

    #container
    {
        width: auto;
    }

    #console > div
    {
    	width: 90%;
    }

    #dialog div.warning
	{
	    width: 260px;
	    margin-left: -150px;
	}

}
